@charset "UTF-8";

//Color



$color-light: (
    "text": #000,
    "bg": #fff,
    "border": rgb(219, 219, 219), 
    "time":rgb(115, 115, 115),
    "logo-img": url(../../img/instagram.png)
);
$color-dark: (
    "text": #fff,
    "bg": #000,
    "border": rgb(54, 54, 54), 
    "time":rgb(168, 168, 168), 
    "logo-img": url(../../img/instagram2.png) 
);

.App {
    @each $name, $color in $color-light {
      --#{$name}: #{$color};
    }
  }
  .App.dark {
    @each $name, $color in $color-dark {
      --#{$name}: #{$color};
    }
  }
  // 


//text
$CBlack:#1d1d1b;
$CGray:#e5e5e5; 
$CGray2:#e5e5e5;  
//font
$VWfont:VWHead,Noto,sans-serif;

 




